@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
:root{

    --color-back: #303030;
}
*{

    padding: 0;
    border: 0;
    box-sizing: border-box;
    margin: 0;
    font-size: 16px;
    font-family: Poetsen One;
}
html{

    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    
    height: 100vh;
    max-width: 1280px;
    background-color: var(--color-back);
}
header{

    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    box-shadow: 0px 0px 7px black;
}
.search{

    width: 300px;
    height: 30px;
    border-radius: 10px;
}
.box-promo{

    
    width: 250px;
    height: 300px;
    box-shadow: 0px 0px 7px black;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    cursor: pointer;
}
.box-promo:hover{

    transition: .4s;
    transform: scale(1.02);
}
.img-promo{

    background-color: black;
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 60%;
    border-radius: 10px;
}
.desc-promo{

    
    text-align: center;
    margin: 10px;
    color: white;
    text-decoration: none;
/* Adicionar retiências caso ultrapsse 2 linhas */
    height: 40px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
}
.desc-promo:hover{
    text-decoration: underline;
}
.btn-promo{
    margin-bottom: 1%;
    width: 90%;
    height: 15%;
    border-radius: 10px;
    background-color: rgb(22, 144, 22);
    cursor: pointer;
    color: white;
}
.btn-promo:hover{

    transition: .4s;
    box-shadow: 0px 0px 7px rgb(22, 144, 22);
}
.title-page{

    width: 100%;
    padding-left: 50px;
    font-size: 25px;
    color: white;
    margin: 30px auto;
}
.placeholder-center::placeholder{

    text-align: center;
}